<!DOCTYPE html>
<html>
<head>
	<title>Articles</title>
</head>
<body>
<h1>All Articles</h1>
<ul id="articles">
	<% @articles.each do |article| %>
		<li>
			<%= link_to article.title, article_path(article)%> <%= article.body[0..15]+"..."%>

		</li>
	<% end %>
</ul>
<%= link_to "create new article", new_article_path, class: "new_article"%>
</body>
</html>